<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Test App 1</title>
</head>
<body style="background: pink;">
  <h1>Welcome to Test App 2</h1>
  <p>This is also a simple application.</p>
  <a href="/secure">Go to Secure Page</a>
</body>
</html>
