<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
</head>
<body style="background: yellow;">
    <h1>User Information</h1>
    <ul>
        <li><strong>Username:</strong> <%= userInfo.username %></li>
        <li><strong>Email:</strong> <%= userInfo.email %></li>
        <li><strong>First Name:</strong> <%= userInfo.firstName %></li>
        <li><strong>Last Name:</strong> <%= userInfo.lastName %></li>
    </ul>
</body>
</html>
